*{
    margin:0px;
    padding:0px;
}
#header{
    background-color: rgb(24, 24, 77);
    color:white;
    text-align: center;
}
.choice{
    height:155px;
    width:155px;
    border-radius: 50%;
    display:flex;
    align-items: center;
    justify-content: center;
}
img{
    height:150px;
    width:150px;
    object-fit:cover;
    border-radius: 50%;
}
.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:3rem;
    margin-top: 5rem;
}
.score-board {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 1rem;
    gap: 5rem;
}
.choice:hover{
    opacity: 0.5;
    background-color: black;
}
.mssg-container{
    font-size: 2rem;
    text-align: center;
    margin-top: 20px;
}
#user-score, #computer-score{
    font-size: 4rem;
}
#msg{
    display:inline;
    background-color:  rgb(24, 24, 77);
    color: white;
    border-radius: 20px;
    padding:0.5rem;
    font-style: italic;
    font-weight: 100;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.comp{
    display: flex;
    justify-content: center;
    align-items: center;
}
#comp{
    font-size: larger;
    margin-top: 50px;
}
@media (max-width: 768px) {
.choices {
flex-direction: column; /* Stack choices vertically */
}
.score-board {
flex-direction: column; /* Stack score-board vertically */
gap: 1rem;
}
#user-score, #computer-score{
font-size: 0.5rem; /* Reduce font size */
}
.mssg-container{
font-size: 1rem; /* Reduce font size */
margin-top: 10px;
}
#comp{
font-size: medium; /* Adjust font size */
margin-top: 30px;
}
}